.familyMember {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 0.5rem;
	width: 100%;

	& .relationContainer {
		display: flex;
		gap: 0.5rem;
	}
}

.addFamilyMemberButton {
	width: min-content;
	height: min-content;
	padding: 0.25rem;
	box-shadow: 0px 0px 7px -1px;
}